@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <div class="container-fluid jumbotron">
            @using (Html.BeginForm("Index", "Registration", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <input type="text" name="login" placeholder="Введите login" required />

                <input type="text" name="password" placeholder="Введите password" required />

                <input type="text" name="email" placeholder="Введите email" required />
                
                <input type="submit" value="ок" />
            }
        </div>

