@{    
    if (User.Identity.IsAuthenticated) { Layout = "~/Views/Shared/_LayoutAuth.cshtml"; }
    else { Layout = "~/Views/Shared/_Layout.cshtml"; }    
}
@model MyWebGam.Models.AuthorizationViewModel

<div class="container-fluid">
    <h3>@ViewBag.message</h3>
    
    @Html.ActionLink(@Resources.Web.JoinTheGame, "Index", "Home", new { }, new { @class = "btn btn-color"})
</div>