@{
    if (User.Identity.IsAuthenticated) { Layout = "~/Views/Shared/_LayoutAuth.cshtml"; }
    else { Layout = "~/Views/Shared/_Layout.cshtml"; }
}
<div class="container-fluid">
    <h1>PLease, check you email and confirmed registration</h1>
</div>