@{
    if (User.Identity.IsAuthenticated) { Layout = "~/Views/Shared/_LayoutAuth.cshtml"; }
    else { Layout = "~/Views/Shared/_Layout.cshtml"; }
}
@model MyWebGam.Models.OnlyEmailViewModel
<div class="container-fluid">
    <h1>@Resources.Web.EmailNotConfirmed</h1>
    @Html.ActionLink(@Resources.Web.TryingAgain, "OnlyEmail", "Account")
</div>