@{
    if (User.Identity.IsAuthenticated) { Layout = "~/Views/Shared/_LayoutAuth.cshtml"; }
    else { Layout = "~/Views/Shared/_Layout.cshtml"; }
}
@model MyWebGam.Models.AuthorizationViewModel

<div class="container-fluid">   
    <h1>@Resources.Web.WaitingForPasswordConfirmation</h1>
</div>