/*@media (max-width: 475px) {
  .containerChat {
    width: 250px;
  }
}
@media (max-width: 992px) {
  .containerChat {
    width: 250px;
  }
}
@media (max-width: 1200px) {
  .containerChat {
    max-width: 250px;
  }
}
@media (max-width: 2000px) {
  .containerChat {
    max-width: 250px;
  }
}*/